.navbar{
    padding: 30px;
    background: #8ac9e7;
    display: flex;
    justify-content: space-between;
}
.navbar a{
    text-decoration: none;
    padding: 14px;
    font-size: 30px;
    color: #000;
}
body{
    padding: 0;
    margin: 0;
}
.menus a{
    font-size: 20px;
    padding: 20px;
    color: #000;
}
.about{
    padding: 60px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about img{
    box-shadow: 10px 10px 23px 0 #a5a5a5;
}
.about-content{
    padding-left: 53px;
}
.about-content h2{
    font-size: 40px;
}
.bg p{
    color: black;
    font-size: 48px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: justify;
    letter-spacing: 0px;
    word-spacing: 6px;
  
}
.bg{
    background-image: url(./images/bg.jpg);
    height: 300px;
    margin: 20px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer{
    background: #000;
    padding: 8px 0;
}
footer p{
    margin: 0;
    text-align: center;
    color: #ffff;
    font-size: 20px;
    text-align: center;
}
